.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}
html {
  /* background-color: rgb(176, 177, 182); */
}
#fixed-top{
  /* border-bottom: 1px solid rgb(56, 61, 63); */
  /* background-color:rgb(32, 35, 42); */
  position: fixed;
  margin: -100px 0px; /* if you change it(change #cardsContainer{ margin:100px} */
  width:100%;
  z-index: 1;
}
#jobs{
  border-left: 1px solid white;
  padding-left: 10px;
}
#cardsContainer{
  margin:100px 400px
}

#card{
  height:400px;
  width:500px;
  float: left;
  cursor: pointer;
  margin: 10px
}

#drawerBody{
  font-size: 20px;
}
img{
  width:100%;
}

p{
  margin-bottom: 20px;
}
h6{
  margin-bottom: 20px;
}

#pdf{
  margin-top:0px
}

#footer{
  font-size: 40px;
  color: black;
  margin-top: 130px;
}

.ft{
  border-top: 1px solid;
  cursor: pointer;
}
.ft1{
  border-top: 1px solid black;
  cursor: pointer;
  color: green;
}
.ft2{
  border-top: 1px solid black;
  cursor: pointer;
  color: red;
}
#navAdd{
  margin:100px
}

/* .imgAndName{
  float: left;
  padding: -1000px
} */

.imgCardTop{
  float: left;
  border-radius: 15%;
  height: 150px;
  width: 200px;
  margin-right: 20px;
}

.detailsbtn{
  margin-top: 10px
}

@media only screen and (min-width: 375px) and (max-width: 1900px) {
  #cardsContainer{
    margin:100px 50px
  }

}